.fname,
.password,
.email {
  padding: 18px;
  width: 100%;
  border-radius: 8px;
}

.btn {
  width: 100%;
  padding: 15px;
}

.p-faint {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  text-align: left;
  color: #b2b2b2;
}

.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f1f4d5;
}

.signup-container {
  padding: 20px;
  max-width: 780px;
  background: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* margin-top: 1rem; */
}

.form-part {
  margin-top: 6rem;
}

.terms {
  width: 55%;
  margin: auto;
  text-align: center;
  font-size: 12px;
}

.forgot {
  color: #ff6367;
  margin: auto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
}
